<!DOCTYPE html>
<html>
    <head>
        <title>MalDash</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <style>
       .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        }
        .form {
            position: fixed;
            left: 40%;
            bottom: 50%;
            text-align: center;
        }

    </style>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #BA0C2F;">
            <a class="navbar-brand" href="#">MalDash</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="http://localhost:5000/">Home</a>
                <a class="nav-item nav-link" href="http://localhost:5000/about">About</a>
              </div>
            </div>
        </nav>

    
        
        
        <div>

            <h3><center>About</center></h3>
            <p>
               <center>MalDash is an online network capture analyzer designed to help users obersve encrypted network traffic and potentially detect encrypted malware.</center> 
            </p>

            <p>
           

                <center>This project was built using Flask, Scapy, VirusTotal, and Plotly.</center>
            </p>

        </div>
    </body>
    <div class="footer">
        <p>UGA CSCI 8240</p>
    </div>
</html> 