<!DOCTYPE html>
<html>
    <head>
        <title>MalDash</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <style>
       .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        }
        .form {
            position: fixed;
            left: 40%;
            bottom: 50%;
            text-align: center;
        }
        .button {
            background-color: #BA0c2f; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 12px;
            transition-duration: 0.4s;
        }
        .button:hover {
            background-color: black; /* Green */
            color: BA0c2f;
        }
        .moreText {
            /* Display nothing for the element */
            display: none;
        }

    </style>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #BA0C2F;">
            <a class="navbar-brand" href="#">MalDash</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="http://localhost:5000/">Home</a>
                <a class="nav-item nav-link" href="http://localhost:5000/about">About</a>
              </div>
            </div>
        </nav>
        
        <div class='header'>
            <h4>Report for capture: <b>{{filename}}</b></h4>
        </div>

        <div>
            <button class = "button" type="button" >Basic Properties</button> 
            <p>
            
                File Type: Network Capture<br>
                md5 Hash: {{md5}}<br>
                sha256 Hash: {{sha256}}<br>
                sha1 Hash: {{sha1}}<br>
        
            </p>
            
        </div>

        <div>
            <button class = "button" type="button">Capture Breakdown</button> 
            <br>Total Packets: {{total}}<br>
            Ethernet Packets: {{ethernet_pkts}}<br>
            IP Packets: {{ip_pkts}}<br>
            TCP Packets: {{tcp_pkts}}<br>
            UDP Packets: {{udp_pkts}}<br>
            TLS Packets: {{tls_pkts}}<br>

            <div id="common_ips" class="chart"></div>
            <div id="all_map_json" class="chart"></div>
            <div id="all_country_bar" class="chart"></div>
            
        </div>

        <div>
            <button class = "button" type="button">VirusTotal Malware Detections</button> 
            <div id="vendor_chart" class="chart"></div>


        </div>

        

        <div>
            <button class = "button" type="button">TLS Information</button> 
            <div id="tls_ips" class="chart"></div>
            <div id="tls_map" class="chart"></div>
            <div id="tls_country_bar" class="chart"></div>
            <div id="tls_msg" class="chart"></div>
            <div id="tls_sizes" class="chart"></div>
            <div id="tls_violin" class="chart"></div>
            <div id="servers" class="chart"></div>
            
            
        </div>

        <div>
            <button class = "button" type="button">TLS Heatmaps</button> 
            <div id="data_heatmap" class="chart"></div>
            <div id="msg_heatmap" class="chart"></div>
            
            
            
        </div>
      
    </body>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graphs = {{vendor_chart | safe}};
        Plotly.plot('vendor_chart',graphs,{});        
    </script>
    <script type="text/javascript">
        var graphs = {{common_ips | safe}};
        Plotly.plot('common_ips',graphs,{});        
    </script>
    <script type="text/javascript">
        var graphs = {{tls_ips | safe}};
        Plotly.plot('tls_ips',graphs,{});        
    </script>
    <script type="text/javascript">
        var graphs = {{tls_sizes | safe}};
        Plotly.plot('tls_sizes',graphs,{});        
    </script>
    <script type="text/javascript">
        var graphs = {{tls_violin | safe}};
        Plotly.plot('tls_violin',graphs,{});        
    </script>
    <script type="text/javascript">
        var graphs = {{tls_msg | safe}};
        Plotly.plot('tls_msg',graphs,{});        
    </script>
    <script type="text/javascript">
        var graphs = {{servers | safe}};
        Plotly.plot('servers',graphs,{});        
    </script>
    <script type="text/javascript">
        var graphs = {{data_heatmap | safe}};
        Plotly.plot('data_heatmap',graphs,{});        
    </script>
    <script type="text/javascript">
        var graphs = {{msg_heatmap | safe}};
        Plotly.plot('msg_heatmap',graphs,{});        
    </script>
    <script type="text/javascript">
        var graphs = {{tls_country_bar | safe}};
        Plotly.plot('tls_country_bar',graphs,{});        
    </script>
    <script type="text/javascript">
        var graphs = {{tls_map | safe}};
        Plotly.plot('tls_map',graphs,{});        
    </script>
    <script type="text/javascript">
        var graphs = {{all_country_bar | safe}};
        Plotly.plot('all_country_bar',graphs,{});        
    </script>
    <script type="text/javascript">
        var graphs = {{all_map_json | safe}};
        Plotly.plot('all_map_json',graphs,{});        
    </script>
 
    
</html> 